<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lin.boylove">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DXApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_attach_money"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.Home.HomeActivity" />
        <activity android:name=".activity.Login.LoginActivity" />
        <activity android:name=".activity.AddPayment.AddPaymentActivity" />
        <activity android:name=".activity.Chat.ChatActivity"/>
        <activity android:name=".activity.WeeklyFinanceReport.DetailFinanceActivity">
            <intent-filter>
                <action android:name="android.action.Dolax_Finance_Report_Notification" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications Service-->
        <service android:name=".service.DolaxFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.DolaxFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>